.edukacja {
    box-sizing: border-box;
    width: 1100px;
    margin: 20px auto;
    height: 40rem;
    /* padding: 0 25%; */
    border: 1px solid black;
    background: url("../img/budynek.jpg") center center no-repeat;
    background-size: cover;
}

.edukacja h1 {
    padding: 20px 40px;
    font-weight: bold;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DB1A1A), to(#1A78DB));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.edukacja p {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-style: italic;
    transition: all 0.5s ease-in;
}

.siatkowka {
    box-sizing: border-box;
    width: 1100px;
    margin: 20px auto;
    height: 40rem;
    /* padding: 0 25%; */
    border: 1px solid black;
    background: url("../img/olimp.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
}

.siatkowka h1 {
    padding: 20px 40px;
    font-weight: bold;
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#DB1A1A), to(#1A78DB));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: white;
}

.siatkowka p {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-style: italic;
    transition: all 0.5s ease-in;
    position: absolute;
    bottom: 0;
}